<div class="row">
    <div class="col-6">
        <h1>Listado de Posts</h1>
    </div>
    <div class="col-6">
        <button class="float-right btn btn-primary" routerLink="/posts/create/">Agregar Post</button>
    </div>
</div>
<div class="spinner-border" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Post Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Blog</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of Posts">
                <td>{{post.postId}}</td>
                <td>{{post.title}}</td>
                <td>{{post.content}}</td>
                <td>{{post.blogId}}</td>
                <td>
                    <div class="row">
                        <button class="btn btn-primary mr-4">Editar</button>
                        <button class="btn btn-danger" (click)="deletePost(post.postId)">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>